@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8fafc;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.leaflet-container {
  width: 100%;
  border-radius: 12px;
}
